/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{transition:all 0.2s ease;}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #030306;
  --vt-c-black-soft: #3F3C40;
  --vt-c-black-mute: #505050;

  --vt-c-indigo: #2c3e50;
  --vt-c-green: #B7EAC2;
  --vt-c-red: #EAB7B7;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(-vt-c-white);
  --color-text: var(-vt-c-white);

  --section-gap: 160px;
}

.fill-h-f{
  margin-top:4rem;
  height:calc(100vh - 100px - 4rem);
}
.fill-h{
  height:calc(100vh - 100px);
}

.center{
  justify-content:center;
}
.between{
  justify-content:space-between;
}
.red{color: var(--vt-c-red)!important;}
.green{color: var(--vt-c-green)!important;}
.row{
  display:flex;
  flex-flow:row;
}
.column{
  display:flex;
  flex-flow:column;
}

.order-button-default{}

h1{
  font-size:4rem;
  font-weight:bold;
  color:var(--vt-c-white);
}
h2{
  font-size:3rem;
  font-weight:bold;
  color:var(--vt-c-white);

}
h3{
  font-size:2rem;
  font-weight:bold;
  color:var(--vt-c-white);
}
h4{
  font-size:1.5rem;
  color:var(--vt-c-white);
}
.header{}

#app {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 100vh;
}
@media (max-width: 1024px) {
  .row{flex-flow:wrap;}
}  
#app{padding:1rem;}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
p{  line-height: 1.5;
  font-size:1.5rem;font-weight:normal;
  color:var(--vt-c-white);
}
b {font-weight:bold;}
body {   
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: normal;  
  background-size:cover;
  background-image: url('/src/assets/backimg.png');
  background-color:#1F1E1E;
  background-blend-mode:darken;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow-x:hidden;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05rem;
}